@charset "UTF-8";
li{
    list-style: none;
}
.gallery{
    width: 50;
    display: grid;
    grid-template-columns: repeat(auto-fit);
    grid-gap: 30px;
}
.gallery img{
    width: 30%;
    margin: 10px
}