@charset "UTF-8";
li {
    list-style-type: none;
}
.column {
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit);
    grid-gap: 30px;
}
.gallery img {
    width: 30%;
    margin: 10px;
}
h1 {
    color: #EB5EAA;
    font-size: 80pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    line-height: 0px;
    
}
h2 {
    color: #DB812D;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 5px;
}
h3 {
    color: #db812d;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-left:20px;
}
body { 
    margin-left:10%;
    margin-right:10%;
    background-color:  #F5CE00;
}
    /*blue hex #96ADD6; beige/white hex #f2eee9*/
p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    font-size: 20px;
    color:#EB5EAA
}
li {
    color:#DB812D;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
}
a {
    color:#4CAC44;
    text-decoration: none;
}

a:hover {
    color:#EB5EAA;
    font-size: 18px;
    text-decoration-line: underline;
}
.arrow{
    color:#4CAC44;
    opacity: 0;
}
li:hover .arrow {
    opacity: 1;
    color:#EB5EAA;
}



