@charset "UTF-8";
header{
	background-color:#25428d;
	padding:20px;
}
h1 {
	text-align:center;
	font-family:arial;
	color: #006d77;
}
h3{
	color:#006d77;
}
body {
	text-align:left;
	font-size:12pt;
	font-family:arial;
	background-color: #d8f2ea;
	margin:50px;
	line-height:auto;
}
img{
	width:500px;
	height:100;
	object-fit:cover;
}
.container{
	width:100%;
	margin:auto;
	overflow:hidden;
}