@charset "UTF-8";
header {
	background-color:#25428d;
	padding:20px;
}
h1 {
	text-align:center;
	font-family:arial;
	color:f4f4f4;
}
body {
	text-align:left;
	font-size:12pt;
	font-family:arial;
	background-color: #d8f2ea;
	margin:100px;
}
img {
	width:200px;
	height:200px;
	object-fit:contain;
}
.container {
	width:80%;
	margin:auto;
	overflow:hidden;
	background-color:f4f4f4;
}